* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,
p {
	text-transform: capitalize;
	font-family: sans-serif;
}
section {
	height: 100vh;
}
.chair {
	position: absolute;
	height: 45%;
	top: 79%;
	left: 35%;
	transform: translate(-40%, -79%);
}
.s1 {
	background-image: url(./img/bg.jpg);
	background-size: cover;
	background-position: bottom;
	background-repeat: no-repeat;
}
.s1 h1 {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
	font-size: 1.6rem;
	background: linear-gradient(to left, rgb(177, 152, 152), #0b3606);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.s2 {
	background: linear-gradient(to top, #c2c1c1, #fff);
}

.s2 h1 {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
	font-size: 1.7rem;
	background: linear-gradient(to left, #7694a5, #0a4666);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.s3 h1 {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -10%);
	font-size: 2rem;
	background: linear-gradient(to left, #6d4c41, #816d67);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.description {
	margin: 20%;
	width: 40%;
	margin-left: 5%;
	font-size: 1.25rem;
}
.description p {
	margin: 2rem 0;
}
.bg {
	width: 100%;
	height: 100%;
	background-image: url('./img/s3.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.beast {
	width: 8rem;
	position: absolute;
	left: 0;
	bottom: 0;
}
@media only screen and (min-width: 600px) {
	.s1 {
		background-image: url(./img/couch.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.chair {
		height: 65%;
		top: 72%;
		left: 50%;
		transform: translate(-50%, -72%);
	}
	.s2 h1,
	.s3 h1,
	.s1 h1 {
		font-size: 3rem;
	}
	.beast {
		display: none;
	}
	.s3 h1 {
		top: 1%;
		left: 80%;
	}
}
